<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>SFG</title>
</head>
<body>
<h1>Booklist</h1>

<table>
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>isbn</th>
        <th>publisher</th>
    </tr>

    <tr th:each="book : ${books}">
        <td th:text="${book.id}">fdsa</td>
        <td th:text="${book.title}">fdsa</td>
        <td th:text="${book.isbn}">fdsa</td>
        <td th:text="${book.publisher.name}">fdsa</td>

    </tr>
</table>

</body>
</html>